<div class="profile_avatar_box text-center mb-4" *ngIf="!loading">
  <div class="fas fa-university fa-10x">
  </div>
  <div class="font-xl font-weight-bold text-center p-2" [translate]="'Info.myDepartment'"></div>
</div>

<div class="card font-style" *ngIf="!loading && department">

  <div class="card-body">

    <div class="row">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Profile.Department'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.name || "-"}}</span>
      </div>
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.Faculty'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.facultyName || "-"}}</span>
      </div>
    </div>

    <div class="row" *ngIf="department.url">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.Url'"></span>
      </div>
      <div class="col-lg-3 data-colored">
        <span><a href="{{ ( department?.url.includes('http') || department?.url.includes('https') ) && department?.url || 'http://' + department?.url }}" target="_blank" rel="noopener noreferrer">{{department?.url || "-"}}</a></span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.Address'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.address || "-"}}</span>
      </div>
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.PostalCode'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.postalCode || "-"}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.City'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.city || "-"}}</span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.Phone'"></span>
      </div>
      <div class="col-lg-3 data-colored">
        <span><a href="tel:{{department?.phone1}}" target="_blank" rel="noopener noreferrer">{{department?.phone1 || "-"}}</a></span>
      </div>
      <div class="col-lg-3 label text-secondary" *ngIf="department?.phone2" >
        <span [translate]="'Info.PhoneAlternative'"></span>
      </div>
      <div class="col-lg-3 data-colored" *ngIf="department?.phone2">
        <span><a href="tel:{{department?.phone2}}" target="_blank" rel="noopener noreferrer">{{department?.phone2 || "-"}}</a></span>
      </div>
    </div>

    <div class="row" >
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.Email'"></span>
      </div>
      <div class="col-lg-3 data-colored">
        <span><a href="mailto:{{department?.email | trim}}" target="_blank" rel="noopener noreferrer">{{department?.email || "-"}}</a></span>
      </div>
    </div>

    <hr *ngIf="department?.contactPerson1 || department?.contactPerson2">

    <div class="row" *ngIf="department?.contactPerson1">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.ContactPerson'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.contactPerson1 || "-"}}</span>
      </div>
    </div>
    <div class="row" *ngIf="department?.contactPerson2">
      <div class="col-lg-3 label text-secondary">
        <span [translate]="'Info.ContactPersonAlternative'"></span>
      </div>
      <div class="col-lg-3">
        <span>{{department?.contactPerson2 || "-"}}</span>
      </div>
    </div>

  </div>

</div>
