<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="text-center font-xl">{{modalTitle | translate }}</h5>
    <button (click)="cancel()" [disabled]="isLoading"
            type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="modal-icon text-secondary rounded-circle py-2">
      <i class="fa-4x fas fa-exclamation-triangle"></i>
    </div>
    <div class="my-2 py-2">{{modalBody | translate}}</div>
    <div *ngFor="let course of courses" class="py-1">
      <div><i class="fa fa-book text-secondary mr-2"></i> {{course.course | localize: ['name'] }}</div>
      <div *ngIf="course?.validation?.missingAttributes.length">
        <div class="container">
          <div class="font-sm ml-3" [translate]="'Grades.Error.MissingAttributes'"></div>
            <span *ngFor="let attribute of course.validation?.missingAttributes; let isLast=last">
              {{attribute | translate}}{{isLast ? '' : ',' }}
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button [disabled]="isLoading " (click)="ok()"
            type="button" [ngClass]="'btn btn-indigo'">
      {{'OK' | translate}}
    </button>
    <button [disabled]="isLoading"
            (click)="cancel()" type="button" [ngClass]="'btn btn-secondary'" data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
