@import "~bootstrap/scss/functions";
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@universis/theme/scss/coreui/_variables";


.requests_new-card {
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.requests_new-card__content {
  padding-bottom: 16px;
}

.requests_new-card__title {
  padding-top: 10px;
  padding-bottom: 8px;
}

.requests_new-card__title h3 {
  margin:0;
}

.requests_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  margin-bottom: 3%;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  background-color: #F0F3F5;
  place-content: center;
}

.btn-success {
  border-radius: 3px;
  margin-left: 5%;
}
.btn-secondary {
  right: 10px;
  color: #29363D;
  font-size: 14px;
  letter-spacing: -0.33px;
  line-height: 19px;
  text-align: center;
}

.btn-requests-grey {
  border-color:  #F0F3F5!important;
  background-color: #F0F3F5!important;
}

.btn-requests {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

.modal-body {
  text-align: left!important;
}

.modal-header {
  padding-bottom: 0;
  align-items: flex-start;
  font-size: 22px;
}

.border-left-2 {
  border-left-width: 2px !important;
}

.word-break {
  word-break: break-word;
}

.inner__content {
  max-height: 62vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 1280px) , (max-height: 800px) {
  .inner__content {
    max-height: 58vh;
  }
}

@include media-breakpoint-down(sm) {
  .inner__content {
    max-height: 75vh;
  }
}
