<div class="modal-header">
  <div class="d-flex flex-column justify-content-end w-100">
    <h5 class="modal-title text-center">{{ modalCourse?.displayCode }} - {{ modalCourse?.name }}</h5>
    <h5 class="modal-title text-center">{{ modalCourse?.examPeriodName }} {{ modalCourse?.examPeriodYear }}</h5>
  </div>

  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <h4 class="mx-auto mb-3">{{ 'Grades.Statistics'  | translate }}</h4>
      </div>
      <div class="row">
        <div class="col-6 label text-secondary">
          <label>{{ 'Grades.Chart.Graded'  | translate }}</label>
        </div>
        <div class="col-6">
          <span>{{studentsGraded}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 label text-secondary">
          <label>{{ 'Grades.Chart.Successful'  | translate }}</label>
        </div>
        <div class="col-6">
          <span>{{studentsSucceeded}}</span>
        </div>
      </div>
      <div *ngIf="gradeScaleIsNumeric" class="row">
        <div class="col-6 label text-secondary">
          <label>{{'Grades.Chart.AverageGrade'|translate}}</label>
        </div>
        <div class="col-6">
          <span>{{avgGradeStudentsGraded}}</span>
        </div>
      </div>
      <div *ngIf="gradeScaleIsNumeric" class="row">
        <div class="col-6 label text-secondary">
          <label>{{'Grades.Chart.AveragePassingGrade' | translate}}</label>
        </div>
        <div class="col-6">
          <span>{{avgGradeStudentsSucceeded}}</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <h4 class="mx-auto mb-3">{{ 'Grades.Chart.GradesDistribution'  | translate }}</h4>
      </div>
      <div style="display: block" *ngIf="!isLoading">
        <canvas baseChart
                [data]="barDatasets"
                [labels]="barChartLabels"
                [options]="barOptions"
                [colors]="chartColors"
                [chartType]="barChartType"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-center">
  <button type="button" (click)="closeModal()" class="btn btn-outline-secondary btn-cancel">{{ 'Grades.Chart.Close'  | translate }}</button>
</div>
