<div class="modal-body text-center pb-0 pt-0">
  <div>
    <img src="assets/img/register_error_136x136(v1).png" alt="Register Success">
  </div>
  <h1 class="modal-title pt-3" [translate]="'Modals.editedTitle'"></h1>
  <div class="pt-2" [translate]="'Modals.editedBody'"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal"
          [translate]="'Modals.discardChanges'" (click)="action(true, 'reset')"></button>
  <button type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal" [translate]="'Modals.back'"
          (click)=" action(false)"></button>
  <button type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal"
          [translate]="'Modals.tempSaveChanges'" (click)=" action(true)"></button>
</div>

